* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding-top: 35px;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    margin: 40px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.navbar a:hover {
    color: #EDDA3B;
    transition: 0.3s;
}

.navbar .logo img {
    height: 55px;
    padding-top: 15px;
}

.navbar .left i {
    color: white;
    margin-left: 10px;
}

.navbar .right img {
    height: 15px;
    border: 1px solid white;
    padding: 3px;
    border-radius: 5px;
}

.right .bayrak {
    margin-top: 30px;
}

.right {
    display: flex;
}


/* myFunction */

.dropbtn {
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown button:hover {
    color: #EDDA3B;
}

.dropdown-content {
    top: 50px;
    display: none;
    position: absolute;
    min-width: 350px;
    z-index: 10000;
    background-color: white;
}

.dropdown-content a {
    display: block;
    color: black;
}

.dropdown-content a:hover {
    color: black !important;
}

.show {
    display: block;
}


/* myFunction */