* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding-top: 35px;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 390;
}

.navbar a:hover {
    color: #EDDA3B;
    transition: 0.3s;
}

.navbar .logo img {
    height: 55px;
    padding-top: 15px;
}

.navbar .left i {
    color: white;
    margin-left: 10px;
}

.navbar .right .bayrak img {
    height: 15px;
    border: 1px solid white;
    padding: 3px;
    border-radius: 5px;
}

.navbar .right .bayrak {
    margin-top: 30px;
}

.navbar .right {
    display: flex;
    margin-left: 60px;
}

.navbar .left {
    margin-right: 50px;
}

.navbar .left a {
    margin: 0px 30px;
}

.navbar .right a {
    margin: 0px 20px;
}


/* myFunction */

.navbar .dropbtn {
    background-color: black;
    color: white;
    font-weight: 390;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown button:hover {
    color: #EDDA3B;
}

.navbar .dropdown-content {
    top: 30px;
    display: none;
    position: absolute;
    min-width: 330px;
    z-index: 100;
    background-color: white;
    padding-bottom: 20px;
}

.navbar .dropdown-content a {
    display: block;
    color: black;
    margin-top: 20px;
}

.dropdown-content a:hover {
    color: black !important;
}

.navbar .show {
    display: block;
}


/* myFunction */