/* banner */

.banner-img img {
    max-height: 650px;
    width: 100%;
}

.owl-carousel .fas {
    font-size: 100px;
}

.box {
    position: relative;
}

.box .dots {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 90%;
    bottom: 300px;
}

.box .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    margin-top: 10px;
    background-color: white;
}


/* banner */


/* Tab */

.filmler {
    display: inline-block;
}

.tab {
    overflow: hidden;
    position: relative;
    left: 18%;
    top: 10px;
}

.bolumler {
    overflow: hidden;
    margin-left: 18%;
}

.tab button {
    font-size: 17px;
    font-weight: 600;
    background-color: white;
    color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button.active {
    color: black;
}

.tabcontent {
    display: none;
}


/* Tab */


/* Filter Bar */

.filter-bar {
    margin-top: 20px;
    height: 70px;
    background-color: #EDDA3B;
}

.dropbtn1 {
    background-color: white;
    color: black;
    height: 45px;
    width: 270px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align: start;
    padding: 0px 10px;
    border-radius: 4px;
}

.dropbtn2 {
    background-color: white;
    color: black;
    height: 45px;
    width: 180px;
    font-size: 17px;
    border: 1px solid #ced4da;
    cursor: pointer;
    text-align: start;
    padding: 0px 10px;
    border-radius: 4px;
}

.sube i {
    position: relative;
    right: 8%;
    font-size: 25px;
}

.dil i {
    position: relative;
    right: 10%;
    font-size: 22px;
    color: gray;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    top: 16%;
    left: 18.8%;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    top: 16%;
    left: 20%;
}

.dropdown1 .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    width: 340px;
}

.dropdown2 .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    width: 240px;
}

.dropdown-content1 a {
    color: black;
    font-size: 19px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1 .dropdown-content1 a:hover {
    background-color: #EDDA3B
}

.dropdown2 .dropdown-content1 a:hover {
    background-color: #1e90ff;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2:hover .dropdown-content1 {
    display: block;
}

.filter-bar .buton .filterbtn {
    background-color: black;
    border-radius: 4px;
    position: relative;
    left: 47%;
    bottom: 21px;
    text-align: center;
    padding: 12px 70px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}


/* Filter Bar */


/* Contents */

.card {
    width: 260px;
    height: 590px;
    border-radius: 4px;
    overflow: hidden;
    margin: 5px;
    float: left;
    margin-top: 55px;
    margin-right: 2%;
}

.card a {
    text-decoration: none;
    color: black !important;
    font-weight: bolder;
}

.card:hover {
    background-color: #EDDA3B;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 45px;
}

.card:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}

.card-header {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.card-main {
    margin-top: 50px;
    padding: 0px 0px;
    overflow: hidden;
}

.bolumler .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .genel-izleyici {
    text-align: center;
}

.card .genel-izleyici img {
    width: 25px;
    margin-top: 5px;
    margin-left: 5px;
}

.card-footer {
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    background-color: white !important;
}

.card-footer2 {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.card-footer .category {
    padding: 6px;
    margin-bottom: 3px;
    background-color: #EDDA3B;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

.card :hover .card-footer,
.genel-izleyici,
.card-main {
    background-color: white !important;
}


/* Contents */


/* Our Campaigns */

.acildik .campaign {
    margin-top: 40px;
    position: relative;
    left: 20%;
    color: #212529;
    font-size: 13px;
    font-weight: bold;
}

.acildik .box2 {
    margin-top: 50px;
}

.acildik .main-slider2 {
    padding: 0px 20px;
}

.acildik .tumkampanyalar a {
    text-decoration: none;
    color: white;
    position: relative;
    left: 45%;
    background-color: black;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}

.instagram .textbtn {
    float: left;
}

.instagram {
    display: block;
    margin-top: 30px;
}

.instagram .textbtn img {
    height: 40px;
    width: 35px;
}

.instagram .textbtn a {
    text-decoration: none;
    color: #212529;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    left: 190%;
}

.textbtn h1 {
    position: relative;
    display: inline-block;
    left: 20px;
    bottom: 15px;
}

.maps {
    display: block;
    margin-top: 90px;
}

.maps .cinens {
    width: 100%;
}


/* Our Campaigns */


/* Contact Us Button */

.contact-us-button {
    position: fixed;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 75px 100px 75px 0px;
    border-color: transparent black;
    top: 60%;
    right: 0px;
    z-index: 1000;
}

.contact-us-button img {
    position: relative;
    height: 32px;
    width: 32px;
    left: 22px;
    bottom: 14px;
}

.contact-us-button a {
    color: white;
    margin-bottom: 300px;
    text-decoration: none;
}

.contact-us-button p {
    position: relative;
    margin-left: 60px;
    bottom: 65px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 6px;
}


/* Contact Us Button */


/* Contact Us Button Pop-up */

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 244, 244, 0.795);
}

.modal form {
    position: relative;
    min-width: 40%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

.inputs {
    position: relative;
    display: grid;
}

.modal input,
textarea:focus {
    outline: none;
}

.modal form h1 {
    font-weight: 400;
    margin-bottom: 50px;
    color: #212529;
}

.modal form .adsoyad {
    position: relative;
}

.modal form .adsoyad input {
    position: relative;
    padding-right: 10px !important;
}

.modal form .adsoyad p {
    background-color: blue;
    display: inline-block;
    position: absolute;
    right: 0px;
}

.modal form .eposta {
    position: relative;
    bottom: 55px;
    left: 390px;
}

.modal form .telefon {
    position: relative;
    bottom: 10px;
}

.modal form .konu {
    position: relative;
    bottom: 65px;
    left: 390px;
}

.modal form textarea {
    position: relative;
    width: 760px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    resize: vertical;
}

.modal form input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 350px;
    border-style: none;
    border-bottom: 1px solid black;
}

#form-buton {
    position: relative;
    background-color: black;
    color: white;
    left: 400px;
    top: 100px;
    height: 75px;
    border-radius: 5px;
    width: 350px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

#modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: tomato;
    padding: 0.5rem;
    cursor: pointer;
}


/* Contact Us Button Pop-up */


/* Up Button */

#yukari-cik {
    height: 55px;
    width: 55px;
    right: 50px;
    bottom: 40px;
    position: fixed;
    text-indent: -9999px;
    z-index: 9999;
    display: none;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
}


/* Up Button */