.owl-dots {
    position: absolute;
    bottom: 210px;
    left: 85%;
    z-index: 9;
    display: grid;
}

.owl-carousel .owl-dots button {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 3px 0px;
}

.owl-carousel .owl-dot button.active {
    transform: scale(2.30);
}

.owl-carousel .owl-dot.active span {
    border: 1px solid aqua;
    padding: 7px;
    border-radius: 50%;
}