/* Contact Us Button */

.contact-us-button {
    position: fixed;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 75px 100px 75px 0px;
    border-color: transparent black;
    top: 60%;
    right: 0px;
    z-index: 1000;
}

.contact-us-button img {
    position: relative;
    height: 32px;
    width: 32px;
    left: 22px;
    bottom: 14px;
}

.contact-us-button a {
    color: white;
    margin-bottom: 300px;
    text-decoration: none;
}

.contact-us-button p {
    position: relative;
    margin-left: 60px;
    bottom: 65px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 6px;
}


/* Contact Us Button */


/* Contact Us Button Pop-up */

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 244, 244, 0.795);
}

.modal form {
    position: relative;
    min-width: 40%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

.inputs {
    position: relative;
    display: grid;
}

.modal input,
textarea:focus {
    outline: none;
}

.modal form h1 {
    font-weight: 400;
    margin-bottom: 50px;
    color: #212529;
}

.modal form .adsoyad {
    position: relative;
}

.modal form .adsoyad input {
    position: relative;
    padding-right: 10px !important;
}

.modal form .eposta {
    position: relative;
    bottom: 55px;
    left: 390px;
}

.modal form .telefon {
    position: relative;
    bottom: 10px;
}

.modal form .konu {
    position: relative;
    bottom: 65px;
    left: 390px;
}

.modal form textarea {
    position: relative;
    width: 760px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    resize: vertical;
}

.modal form input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 350px;
    border-style: none;
    border-bottom: 1px solid black;
}

#form-buton {
    position: relative;
    background-color: black;
    color: white;
    left: 400px;
    top: 100px;
    height: 75px;
    border-radius: 5px;
    width: 350px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
}


/* Contact Us Button Pop-up */


/* Up Button */

#yukari-cik {
    height: 55px;
    width: 55px;
    right: 50px;
    bottom: 40px;
    position: fixed;
    text-indent: -9999px;
    z-index: 9999;
    display: none;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
}


/* Up Button */